name: Run Python Automation

on:
  push:
    branches:
      - main  # Run on push to main branch
  workflow_dispatch:  # Allows manual run from GitHub UI

jobs:
  run-scripts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install boto3

      - name: Run Python script
        run: |
          week05-Python-Review-automation/day2-boto3-s3-list/list_s3_buckets.py
